* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Changa";
    direction: rtl;
}

@font-face {
    src: url(../fonts/Changa-VariableFont_wght.ttf);
    font-family: "Changa";
}

@font-face {
    src: url(../fonts/Tajawal-Medium.ttf);
    font-family: "Tajwal";
}

.navbar {
    height: 80px;
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 999;
    top: 0;
}

.navbar__container {
    display: flex;
    width: 100%;
    width: 1300px;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    margin: 0 auto;
    padding: 0 50px;
    height: 80px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    height: 100%;
    transition: color 250ms ease-out;
}

.navbar__menu a {
    color: inherit;
    text-decoration: none;
}

.navbar__logo img {
    width: 80px
}

.navbar__links button,
.section__btn {
    background-color: #ef9501;
    color: white;
    font-family: "Changa";
    font-size: inherit;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px grey;
    transition: background-color 200ms ease-out;
}

.navbar__links button:hover,
.section__btn:hover {
    background-color: #d94213;
    transition: background-color 200ms ease-in;
}

.navbar__links:hover {
    color: #d94213;
    transition: color 250ms ease-in;
}



.main__container {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    width:100%;
    max-width: 1300px;
    height: 90vh;
    margin: 0 auto;
    z-index:1;
    padding : 0 50px;
    justify-self: center;
    align-items: center;
}
.main__content h1 {
    font-size:3.5rem;
    color: #d94213;
}
.main__content h2 {
    font-size:3.5rem;
}
.main__content p{
    margin-top:1rem;
    font-size :2.3rem;
    font-weight:500;
    font-family: 'Tajawal', sans-serif;
}
.section__btn{
    margin:50px auto;
    font-size:1.3rem;
}
.main__img__container{
    text-align: center;
}
.desktop__img{
    width:100%;
}
.mobile__img{
    display: none;
}


@media screen and (max-width:960px) {
    .navbar__container {
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr) 1.5fr;
        width: 100%;
        position: absolute;
        margin: 0;
        top: -9999;
        opacity: 0;
        z-index: -1;
        transition: all 300ms ease;
    }

    #button__grid {
        grid-area: 4 / 1 / 5 / 2;
    }


    .navbar__menu.active {
        background-color: rgb(250, 250, 250);
        top: 100%;
        opacity: 1;
        z-index: 99;
        height: 50vh;
        font-size: 1.3rem;
        transition: all 300ms ease;
    }

    .navbar__logo {
        margin-right: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        color: #d5431b;
        background-color: #d5431b;
        margin: 5px auto;
        transition: all 300ms ease-in-out;
        display: block;
        cursor: pointer;

    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 16px;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        left: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__links button {
        width: 90%;
        height: 100%;
        align-items: center;
        padding: 10px 15px;
    }

    .navbar__toggle {
        border: #ef9501 1px solid;
        padding: 10px;
        margin-left: 25px;
        border-radius: 10px;
    }

    #mobile__menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile__menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile__menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    .main__container{
        display: grid;
        grid-template-columns:auto;
        text-align: center;

    }
    .main__content h1{
        font-size: 3rem;
    }
    .main__content h2{
        font-size: 2.3rem;
    }
    .main__content p{
        font-size: 1.6rem;
    }
    .section__btn{
        margin: 30px auto;
        font-size:1.3rem;
    }
    .desktop__img{
        display: none;
    }
    .mobile__img{
        margin: auto;
        display: block;
        width:80%;
    }
    /*Main*/

}

@media screen and (max-width:376px) {
    .navbar__links button {
        padding: 5px 10px
    }
    /*main*/
    .main__content h1{
        font-size: 3rem;
    }
    .main__content h2{
        font-size: 2rem;
    }
    .main__content p{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:321px) {

    .navbar__menu.active {
        height: 60vh;
    }

    .main__content h1 {
        font-size: 2.3rem;
    }

    .main__content h2 {
        font-size: 1.6rem;
    }

    .main__content p {
        font-size: 1.3rem;
    }
    .section__btn{
    
        font-size:1.2rem;
    }
}